@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eff5f0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #bbf06c;
  color: #ffffff;
  border-bottom: 1px solid #89db92;
}
.navbar img {
  width: 40px;
  margin-right: 5px;
}
.navbar h1 {
  font-size: 1.5rem;
  margin: 0;
}
.navbar h1 span {
  color: #12c961;
}
.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 5px;
}
.navbar ul li {
  margin: 0 17px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.navbar ul li a:hover {
  text-decoration: underline;
  color: hsl(120, 81%, 39%);
}
.navbar div .secondBtn {
  background-color: white;
  color: #2e8b57;
}
.navbar div button {
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 0.8rem;
  margin-top: 5px;
  margin-left: 16px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0.2rem;
}
.navbar div button:hover {
  background-color: #3cb371;
  color: #ffffff;
}

fieldset {
  height: 330px;
  width: 390px;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 2px 4px #bbf06c;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
fieldset .gradient-text {
  color: #bbf06c;
  box-shadow: 1px 2px 2px 2px;
  border-radius: 15px;
}
fieldset h2 {
  padding-left: 10px;
  color: #96de2b;
}
fieldset span {
  color: #0fa650;
}
fieldset input {
  border: 2px solid #96de2b;
  border-radius: 8px;
  padding: 4px;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
fieldset .title {
  width: 316px;
}
fieldset select {
  border: 2px solid rgb(150, 222, 43);
  border-radius: 8px;
  padding: 4px;
  margin-top: 0.5rem;
}
fieldset button {
  padding-top: 2rem;
  width: 155px;
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  margin-left: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
fieldset button:hover {
  background-color: #3cb371;
  color: #ffffff;
}
fieldset .deleteBtn {
  margin-top: 1rem;
  margin-left: 0.18rem;
  background-color: #bbf06c;
}
fieldset .deleteBtn:hover {
  background-color: #e6c107;
}

.box {
  height: 100%;
}

.main-footer {
  background-color: #2b8a2b;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main-footer .footer-section {
  font-size: 13px;
  flex: 1;
  margin-right: 1rem;
}
.main-footer .footer-section:last-child {
  margin-right: 0;
}
.main-footer .footer-section h4 {
  margin-left: 2.5rem;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}
.main-footer .footer-section ul {
  padding-left: 2.5rem;
  margin: 0;
}
.main-footer .footer-section ul li {
  list-style: none;
  text-decoration: none;
  text-align: left;
  font-weight: 300;
}
.main-footer .footer-section input[type=text] {
  width: 60%;
  padding: 0.3rem;
  margin: 1rem 2.5rem;
  margin-top: -1rem;
  border: 2px solid #bbf06c;
  border-radius: 8px;
}
.main-footer .footer-section .social-icons {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-left: 2.5rem;
}
.main-footer .footer-section .social-icons img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}