//Colors

$main-color:#12c961;
$secondary_color:#2e8b57;
$text-color:#ffffff;
$text-color2:#96de2b;
$button-color:#55c155;
$input-color:#bfbdbd;
$background-color:#eff5f0;
$line-color:#89db92;
$nav-color:#bbf06c;
$hover-color:#13b413;


//Fonts:
$font-family: "Poppins", sans-serif;
